@model IEnumerable<VincereSharp.Contact>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AdminTimeTemp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CandidateSourceId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerProbability)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExternalId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Facebook)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstNameKana)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GenderTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HomePhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAssistant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobLevelHierarchy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastNameKana)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Linkedin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MiddleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MiddleNameKana)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobilePhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PreferredContactMethod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PersonalEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PreferredTimeFrom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PreferredTimeTo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReportToContactId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Skills)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Skype)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SwitchboardPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SwitchboardPhoneExt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Twitter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Xing)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdminTimeTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateSourceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerProbability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExternalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstNameKana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenderTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAssistant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobLevelHierarchy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastNameKana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Linkedin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleNameKana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferredContactMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferredTimeFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferredTimeTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportToContactId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SwitchboardPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SwitchboardPhoneExt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Twitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Xing)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
